* {
    margin: 0;
    padding: 0;
}

#banner {
    background-color: red;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url("./resources/Banner\ Image.png");
}